<title>{{ title }} - Where's the MBTA?</title>

<header>
  <nav>
    {{{ bread-crumbs }}}
  </nav>
  <h1>{{ title }}</h1>
</header>
<section id="main">
  {{#predictions}}
  <div id="status-bad" class="status-bar"></div>
  <div id="status-good" class="status-bar"></div>
  {{/predictions}}
  
  {{#home}} {{> home.html }} {{/home}}
  {{#about}} {{> about.html }} {{/about}}
  
  {{{ main-content }}}
  
</section>
<section class="relevant-tweets">
  {{{ relevant-tweets }}}
</section>

<script>
  var SERVER_TIME_DIFF = 0, PREDICTIONS = false;
  {{#predictions}}
  SERVER_TIME_DIFF = new Date().getTime() - {{ time }};
  PREDICTIONS = {{{ predictions-json }}};
  {{/predictions}}
</script>

